/node_modules
/public/images/gifts
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap/compiled.php
/vendor
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/.idea
/_ide_helper.php
/app/config/packages
/public/packages
.env
.env.backup

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/debugbar.php
