body {
    background-image: url('img/background.jpg');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font: 12px/1.4em "Century Gothic", "AppleGothic", sans-serif;
    /* height: 50%; */
    /* You must set a specified height */
    /* background-position: center; */
    /* Center the image */
    /* background-repeat: no-repeat; */
    /* Do not repeat the image */
    /* background-size: cover; */
    /* Resize the background image to cover the entire container */
}

.alg-center {
    text-align: center;
    /* margin-left: 5%; */
}

.big-with-back {
    font-size: 55px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    margin-top: 42px;
    margin-bottom: 20px;
}

.text-blueblack {
    color: #0465B2;
}

.text-green {
    color: #12988B;
}